@font-face {
    src: url(../../font-family/Inter-Regular.woff)
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url(../../font-family/Inter-Black.woff2);
    font-family: 'Inter';
    font-weight: 900;
    font-style: normal;
}
