.cover__main-link {
    position: relative;
    display: block;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.cover__main-link::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.2s ease-in-out;

}

.cover__main-link:hover::before {
    opacity: 0.8;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}