.header__logo {
    width: 14.86%;

}

@media (max-width: 1024px) {

    .header__logo {
        width: 18.96%;
    }
}

@media (max-width: 768px) {
    .header__logo {
        width: 24.44%;
    }
}

@media (max-width: 600px) {
    .header__logo {
        width: 34%;
    }

    @media (max-width: 320px) {
        .header__logo {
            width: 49.3%;
        }
    }