/* .container_intro {
    max-width: 984px;
}
@media (max-width: 768px) {
    .container_intro{
        padding: 0 24px;
    }
}
@media (max-width: 320px) {
    .container_intro {
        padding: 0 16px;
    }
} */