.container {
    margin: 0 auto;
    max-width: 1184px;
    padding: 0 48px;
    box-sizing: content-box;
}


@media (max-width: 768px) {
    .container {
        max-width: 720px;
        padding: 0 24px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 288px;
        padding: 0 16px;
    }
}