
.intro__title {
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
}

@media (max-width: 768px) {
    .intro__title {
        font-size: calc((100vw - 320px)/(768 - 320)*(54 - 32) + 32px);
        line-height: calc((100vw - 320px)/(768 - 320)*(58 - 35) + 35px);
    }

}